.env
.venv
*.lock
*.pyc
data/random
results/random
data/optimization
results/optimization
202302_YouBike_Rental.csv
*.db
*.log
*.pyc
*.db
*.sql
*.zip
*.csv
*.deb
youbike_data.db
*.h5
*.json


# Allow JSON files in data/instances and results folder
!data/instances/*.json
!results/*.json
